nav {
    .logo-container {
        max-height: 64px;
    }

    .has-search {
        
        .form-control {
            padding-left: 2.375rem;
            background-color: #f3f3f4;
            border-radius: 8px;
            border: none;
            transition: all 0.3s;

            &:hover {
                background-color: #8325ff23;
                transition: all 0.3s;
                box-shadow: 0 0 0 4px rgba(163, 76, 234, 0.1);
            }
        }

        .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.375rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
        }
    }
}