# Add any directories, files, or patterns you don't want to be tracked by version control
bower_components
node_modules
psd
.orig
.sass-cache
.vs
bin
obj
published
syntax: glob
.vscode

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignoreable files
*.nuget.props
*.nuget.targets

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml

# TODO: Un-comment the next line if you do not want to checkin
# your web deploy settings because they may include unencrypted
# passwords
*.pubxml
*.pubxml.user

# Sublime project
*.sublime-project
*.sublime-workspace

README.txt
*.wpress
