// Your Custom Variables
// $font-path: '../fonts/';
$font-path: '../font/';
$img-path: '../img/';

$white: #fff;
$black: #000;
$dark: #000;
$text-gold: #d5b981;
$primary-color: #d5b981;

// Vendor Variables - Bootstrap, Slick, Etc
$slick-font-path: '../fonts/';
$slick-loader-path: '../media/';

// Global font size
$font-large: 19px;
$font-medium: 15px;
$font-small: 13px;

// Color Preset